.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.search{
    background-color: rgba(0, 0, 0, 0.781);
    line-height: 40px;
    text-align: center;
    padding: 5px 0px;
}
.search input{
    width: 75%;
    padding: 2px;
}
.product-container{
    padding-left: 20%;
}
